// Colors
$green:              #00a353;
$veryLightGreen:     #f2f4f6;
$red:                #eb1c10;
$skin:               #fbf8f3;
$white:              #ffffff;
$nearlyBlack:        #52413e;
$lightGrey:          #d0d2d2;

// Typography
$body-font:          Georgia,Times,Times New Roman,serif;
$header-font:        'Oxygen', sans-serif;
$logo-font:          'Lora', serif;

//
